body {
	font-family: Helvetica, Arial, sans-serif;
}

body {
	background-color: #d9edf7;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.link {
	font-size: 18px;
	font-style: italic;
	color: #C89909;
}

h1 {
	border-bottom: 5px solid #C89909;
	padding-bottom: 10px;

}

.strikethrough:checked + span{
  text-decoration:line-through;
}

.col-md-12 {
	display: block;
}

.top_menu {
	height: 40px;
	width: 500px;
	margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

li {
	 font-size: 22px;
	 height: 50px;
	 width: 500px;
	 margin: 0px;
}

#task_name {
	padding-left: 16px;
}

#close_box {
	padding-right: 16px;
}

#task_input_box {
	font-size: 22px;
	height: 50px;
	width: 500px;
	padding-right: 16px;
	margin-left: 10px;
}

input[type=checkbox] {
	width: 30px; 
	height:30px;
	vertical-align: middle;
}

.btn {
	 background: #3b9df1;
	 border-radius: 0px;
	 font-family: Arial;
	 color: #ffffff;
	 font-size: 12px;
	 padding: 2px 2px 2px 2px;
	 text-decoration: none;
	 height: 40px;
	 width: 120px;
	 border: 3px solid #C89909;
	 margin: 6px;
}

h3 {
	color: black;
}

.news {
	height: 200px;
	width: 555px;
	overflow: auto;
}
